@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto+Slab:wght@700&family=Roboto:wght@900&display=swap');
*{
    margin:0;
    padding:0;
	
	
	

}
html, body {
    max-width: 100%;
    overflow-x: hidden;
	
}
.firstimg{
    position:relative;
    z-index: -1;
}
.desc1{
    position:absolute;
    z-index: 1;

}


.container-fluid{
    background-color: #032a63;
	
    
    

}

.container{
    justify-content: space-between;
}

ul {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.spacelist{
    margin-right: 30px;
}
ul.spacelist li{
    list-style-type: none;
    padding: 8px;
    padding-left:10px;
    
}
ul.spacelist li a:hover{
    color:yellowgreen;
    
}
ul.spacelist li i:hover{
    color:yellowgreen;

}

ul.spacelist li a{
    font-family: 'Lato', sans-serif , 'Roboto Slab', serif;
    font-size: 20px;
}


li {
    float: left;
    list-style-type: none;
}

:any-link{
    color:white;
}

div>a{
    color:white;
}
  
.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: white;
}
.navbar ul.navbar-nav li.nav-item a.nav-link{
    font-family: 'Lato', sans-serif , 'Roboto Slab', serif;
    font-size: 20px;
}

.navbar a.navbar-brand {
    color: Red;
    font-family: 'Lato', sans-serif , 'Roboto Slab', serif;
   
    font-size: 40px;
}
.navbar a.navbar-brand:hover {
    color: green;
  }

.navbar ul.navbar-nav li.nav-item a.nav-link:hover{
    color: green;
}
.navbar ul.navbar-nav li.nav-item a.nav-link{
    color:white;
    font-family: 'Lato', sans-serif , 'Roboto Slab', serif;
    font-size: 20px;
}

.news {
    width: 160px
}

.news-scroll a {
    text-decoration: none
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}
.breaking-news{
    background-color: #5a6303;
}

/* news section */
#popular-news{
	display: flex;
	flex-wrap: wrap;
	margin: 30px 5%;
}
#popular-news h2{
	margin: 0;
	padding: 5px;
	color: #fff;
	overflow-x: hidden;
}
#featured h2{
	background-color: red;
}
#latest h2{
	background-color: yellowgreen;
}
#our-picks h2{
	background-color: darkblue;
}
#featured{
	flex: 2;
}
#latest,#our-picks{
	flex: 1;
}
#popular-news img{
	width: 100%;
	filter: brightness(0.7);
	transition-duration: 500ms;
}
#latest img{
    width:304px;
}
#our-picks img{
    width:304px;
}
.carousel, .news-container{
	position: relative;
}
.carousel-text{
	position: absolute;
	word-wrap: normal;
	bottom: 5px;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	font-weight: bolder;
	padding: 0 10px;
	transition-duration: 500ms;
}
.news-container .carousel-text{
	font-size: 18px;
}
.carousel-date{
	display: block;
	text-align: center;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	font-weight: 300;
}
section{
	cursor: pointer;
}
.news-container:hover > .carousel-text{
	bottom: 10px;
}
.news-container:hover > img{
	filter: brightness(0.4);
}



.gridbox{
	overflow-y: hidden;
    
    font-family: 'Lato', sans-serif , 'Roboto Slab', serif;
}

.card:hover{
	
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.more-news{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	padding: 0 5%;
	justify-content: space-between;
	color: #fff;
	overflow-y: hidden;
}
.news-section{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 70%;
	justify-content: space-between;
}
.world h2{	
	background-color: #b2175b;
}
.sport h2{
	background-color: #3c1b75;
}

.world h2, .sport h2{
    margin: 10px 0 0 0;
	padding: 0 10px;
}

.more-news img{
	width: 100%;
	height: 250px;
    
}
.more-news{
    margin-top: 25px;
}
.world,.sport{
	flex-basis: 45%;
}
aside{
	width: 100%;
	padding: 10px;
	flex-basis: 25%;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: auto 0;
}
p{
	text-align: justify;
}
.recent-news{
	display: flex;
}
.recent-news img{
	width: 70px;
	height: 70px; 
	margin: 10px;
}
.recent-news p{
	font-size: 14px;
	font-weight: bold;
	margin: auto;
}

.social-links{
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
	justify-content: space-between;
}
.social-links section{
	flex-basis: 30%;
}
.social-icons-footer i{
	font-size: 37px;
	padding: 5px;
}
.instagram img{
	padding: 5px;
}
.footer-buttons{
	display: block;
	border: 1px solid #2196f3;
	color: #2196f3;
	font-size: 14px;
	font-weight: bolder;
	background-color: white;
	margin: 20px auto;
	padding: 10px 20px;
	cursor: pointer;
}
.footer-buttons:hover{
	color: #fff;
	border: 1px solid #fff;
	background-color: #2196f3;
}
.copyright{
	width: 100%;
	background-color: #032a63;
	color: #fff;
	padding: 5px;
	text-align: center;
}


